/* Teljes képernyős középre igazítás */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0d0d0d; /* Sötét háttér */
}

body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  background-color: #0d0d0d;
  color: #c084fc;
}

/* Alapértelmezett kurzor eltüntetése */
body, .app-container {
  position: relative;
}




/* Neon gomb */
.neon-button {

  background-color: black;
  color: #f5ecff;
  border: 2px solid #c084fc;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 50px;
  cursor: pointer;
 font-family: 'Sola', sans-serif;
  position: relative;
  z-index: 0;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px #c084fc80, 0 0 20px #c084fc40;
}

/* Hover effektus */
.neon-button:hover {

  
  color: black;
  background-color: #c084fc;
  box-shadow: 0 0 20px #c084fc, 0 0 40px #c084fc, 0 0 60px #c084fc;
}

/* ÚJ: kurzor hover állapotra, amikor a gomb fölött van */

/* Extra animáció (opcionális) */
.neon-button::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(45deg, #c084fc, #7f00ff, #c084fc);
  z-index: -1;
  filter: blur(10px);
  opacity: 0.6;
  border-radius: 50px;
  animation: neonGlow 4s infinite linear;
}


@keyframes neonGlow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
